{% extends 'base.html.twig' %}

{% block title %}New Installationsportive{% endblock %}

{% block body %}
    <h1>Create new Installationsportive</h1>

    {{ include('installationsportive/_form.html.twig') }}

    <a href="{{ path('app_installationsportive_index') }}">back to list</a>
{% endblock %}
