{% extends 'base.html.twig' %}

{% block title %}Edit Blessure{% endblock %}

{% block body %}
    <h1>Edit Blessure</h1>

    {{ include('blessure/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blessure_index') }}">back to list</a>

    {{ include('blessure/_delete_form.html.twig') }}
{% endblock %}
